.item-image img {
    clear: both;
    padding: 8px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

.item-contain h2 {
    border-top: 3px solid #999;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
}


.item-contain {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
